:root {
    --primary-color: #fff;
    --secondary-color: #4BA6FF;
    --text-color: #fff;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/app-background.jpg");
    background-size: auto 100%;
    background-position: bottom;
}

header {
    width: 100%;
    height: auto;
    padding: 10px;
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
}

nav {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.items .value {
    display: none;
}

.items span {
    display: inline-block;
    padding: 10px;
}

.items span:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 50%;
}

.hidden {
    display: none;
}
